<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Miguel Mawyin">
	<title>{% block title %}{% endblock %}</title>
	{% stylesheets 
		'@FTPBundle/Resources/public/css/bootstrap.css'
		'@FTPBundle/Resources/public/css/main.css'
		'@FTPBundle/Resources/public/css/bootstrap-responsive.css' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}"></link>
	{% endstylesheets %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{{ path('_index') }}">Renegade</a>
				<div class="nav-collapse collapse">
					<!--<p class="navbar-text pull-right">Welcome <a href="{{ path('_user') }}" class="navbar-link">admin</a>!</p>-->
					<ul class="nav">
						{% if id is defined %}
							<li><a href="{{ path('_index') }}">Home</a></li>
							
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('_user_create') }}">Create</a></li>
									<li><a href="{{ path('_user_view') }}">View</a></li>
								</ul>
							</li>
							
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs <b class="caret"></b></a>
							    <ul class="dropdown-menu">
							        <li><a href="{{ path('_job_create') }}">Create</a></li>
							        <li><a href="{{ path('_job_view') }}">View</a></li>
							    </ul>
							
							
							<li><a href="{{ path('_logoff') }}">Logoff</a></li>
						{% else %}
							<li><a href="#">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		{% if msg_error is defined%}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">x</button>
				{{ msg_error }}
			</div>
		{% endif %}
		
		{% if msg_info is defined%}
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">x</button>
				{{ msg_info }}
			</div>
		{% endif %}
		
		{% if msg_success is defined%}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">x</button>
				{{ msg_success }}
			</div>
		{% endif %}
	</div>
			
	<div class="container">{% block content %}{% endblock %}</div>
	
	{% javascripts 
		'@FTPBundle/Resources/public/js/bootstrap.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script src="http://twitter.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>