{% extends "FTPBundle::layout.html.twig" %}
{% block title %}Login Page{% endblock %}

{% block content %}
	<div style="background-color:white; border:1px solid #ddd; border-radius:5px; padding-left:10px;">
		<h2>Please Login</h2>
		<form action="{{ path('_validate') }}" method="post">
			<table>
				<tr><td>{{ form_widget(form.Email) }}</td><td>{{ form_errors(form.Email) }}</td></tr>
				<tr><td>{{ form_widget(form.Password) }}</td><td>{{ form_errors(form.Password) }}</td></tr>
			</table>
			<button class="btn" type="submit">Login</button>
		</form>
		<table>
		{% for i in range(0,num-1) %}
			<tr><td>{{ emails[i] }}</td><td>{{ pass[i] }}</td></tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}